[unit]
Description= My SFIA
[Service]
User=jenkins
ExecStart= /var/lib/jenkins/workspace/Pipeline1/script/installation.sh
[Install]
WantedBy=multi-user.target
